<div class="header container-fluid fixed-top">
  <div class="d-flex justify-content-between my-3">
    <div class="d-none d-md-block">
      <h3 class="clickable" routerLink="">Sport Event Application</h3>
    </div>
    <div class="d-md-none pl-2 align-middle">
      <i class="fa fa-heartbeat icon navy clickable" aria-hidden="true" routerLink=""></i>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <a class="mx-2 d-none d-md-block" [routerLink]="['/', {outlets: { modal: ['registration'] } } ]">Create account</a>
      <a class="mx-2 d-none d-md-block clickable">Login</a>
    </div>
  </div>
</div>


